* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

.overlay {
    width: 98%;
    display: flex;
    height: fit-content;
    background: linear-gradient(#00000080, #00000059, #00000080);
}
.consent label{
    display: flex;
    align-items: center;
}
#consultancy h1.lefttext {
    grid-column-start: 1;
    margin: auto 3vw auto 8vw;
    width: 53vw;
    font-size: 3.8vw;
    /* text-shadow: 0px 0px 30px #216869; */
    transition: transform 0.5s ease-in-out;
    color: beige;
}

#consultancy h1.lefttext:hover {
    transform: scale(1.03);
}

#consultancy {
    /*text-align: center;*/
    display: grid;
    grid-template-columns: 2fr;
    /*height: 100vh;*/
    background-image: url("/Images/form.jpg");
    background-size: cover;
}

#consultancy form h1 {
    font-size: 2.2vw;
    font-weight: 600;
    text-align: center;
    /* margin-bottom: 17px; */
    color: #f2f2f2;
    padding: 0.7em 0em;
}

#consultancy form {
    grid-column-start: 2;
    margin: 0.5vw 12vw 0.5vw 5vw;
    padding: 1.8vw 4vw;
    border-radius: 24px;
    background-color: #000000c9;
    transform: scale(0.92);
    transition: transform 0.7s ease-in-out;
    width: 50%;
}

/* #consultancy form:hover {
    transform: scale(0.94);
} */

#consultancy div div {
    margin-bottom: 15px;
    line-height: 2.35;
}

#consultancy h2 {
    font-size: 1.6vw;
    font-weight: 450;
    color: #f2f2f2;
    padding:  0px;
    text-align: center;
}

#consultancy div div label {
    font-size: 1.1vw;
    color: #f2f2f2;
}

#consultancy div div input, #consultancy div div select {
    /* font-size: 0.8vw; */
    /* padding: 5px; */
    background: transparent;
    border: 2px solid #f2f2f2;
    border-radius: 8px;
    color: #f2f2f2;
}
select{
    padding: 8px 10px;
    color: black;
    font-size: 1.1rem;
    width: 100%;
}
select option{
    color: black;
}
input{
    width: 100%;
    padding:8px 10px;
    font-size: 1.1rem;
    text-indent: 10px;
    outline: none;
}

.appoint-info input{
    text-indent: 2px !important;
}

#consultancy div div textarea {
    vertical-align: top;
    margin-bottom: 15px;
    text-indent: 10px;
    padding-top: 10px;
    resize: none;
    background: transparent;
    border: 2px solid #f2f2f2;
    border-radius: 8px;
    /* font-size: 0.95vw; */
}
textarea{
    color:whitesmoke ;
    font-size: 1.1rem;
    width: 100%;
    padding-left: 10px;
}

.consent {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, 1fr) !important;
}

.consent h2 {
    font-size: 1.3vw !important;
    font-weight: 450;
    color: #f2f2f2;
    padding-left:  1vw !important;
    text-align: left !important;
    grid-column: 1 / 4;
}

.consent input {
    grid-row-start: 2;
    grid-column: 1 / 2;
    margin: 22px 0px;
    height: 3.5vh;
    justify-items: start;
    width: 3vh;
    margin-left: 1.1vw;
}

.consent label {
    grid-row-start: 2;
    grid-column: 2 / 9;
    padding-left: 2vw;
}   

#form-submit {
    padding: 15px 25px;
    background: linear-gradient( #216869, #49a078);
    font-weight: 500;
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;
    border: none;
    cursor:pointer
}

#form-submit:active{
    background: linear-gradient(280deg, #1b5051, #51bb8a);
    transition: 0.2s ease;
    transform: scale(0.98);
}
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
    background-color: #101010; /* Background color of the scrollbar track */
  }
  
  /* Scrollbar Thumb (Scroller) */
  ::-webkit-scrollbar-thumb {
    background-color: #989494; /* Color of the scrollbar thumb (scroller) */
    border-radius: 5px; /* Optional: Set border radius for a rounded thumb */
  }
  
  /* Optional: Hover styles for the scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #49a078; /* Change color on hover */
  }